
body {
    font-family: "Britannic Bold",Helvetica,Arial,sans-serif;
  }
p {
    font-size: 140%;
      text-align: center;
}

#indexheader{
  color: white;
  text-shadow: -1px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1px black;
  font-family: 'Raleway', sans-serif;
}
/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}



/* additional sections */
#home {
  background: url(imagenes/index/space1.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
background-image: url(imagenes/index/quienessomos.jpg);
color: white;
border-style: solid; border-width: 2.5px;
border-color: black;
}

#propuestas {
  background-image: url(imagenes/index/propuestas.jpg);
  color: #ffffff;
  border-style: solid; border-width: 2.5px;
 border-color: black;
}
#propuestas .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(imagenes/index/space2.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

/*Slider de propuestas!*/
* {
     box-sizing: border-box;
   }

   .slider {
       width: 50%;
       margin: 100px auto;
   }

   .slick-slide {
     margin: 0px 20px;
   }

   .slick-slide img {
     width: 100%;
   }

   .slick-prev:before,
   .slick-next:before {
       color: black;
   }

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
