
body {
    font-family: "Britannic Bold",Helvetica,Arial,sans-serif;
  }
p {
    font-size: 140%;
      text-align: center;
}

#indexheader{
  color: white;
  text-shadow: -1px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1px black;
  font-family: 'Raleway', sans-serif;
}


/*Slider de propuestas!*/
* {
     box-sizing: border-box;
   }

   .slider {
       width: 80%;
       margin: 100px auto;
   }

   .slick-slide {
     margin: 0px 20px;
   }

   .slick-slide img {
     width: 100%;
   }

   .slick-prev:before,
   .slick-next:before {
       color: white;
   }

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
